@model HospitalProjectNorthYork.Models.ViewModels.DepartmentDetails
@{
    ViewBag.Title = "Details";
}
<a href="/Department/Edit/@Model.SelectedDepartment.Department_ID">EDIT</a>
<a href="/Department/DeleteConfirm/@Model.SelectedDepartment.Department_ID">DELETE</a>
<h2>@Model.SelectedDepartment.DepartmentName details</h2>
<p>Desc: @Model.SelectedDepartment.DepartmentDesc</p>

<div class="col-md-6 col-sm-12">
    <h4>Locations for @Model.SelectedDepartment.DepartmentName:</h4>
    @foreach (var l in Model.Location)
    {

        <a href="/location/Details/@l.Location_ID">@l.LocaitonName</a>

        <a style="color:#ab2020;" href="/Department/Unassociate/@Model.SelectedDepartment.Department_ID?Location_ID=@l.Location_ID">[x]</a>
        <br />
    }

    <div>
        <form method="POST" action="/Department/Associate/@Model.SelectedDepartment.Department_ID">
            <select name="Location_ID">
                <option value="">Select Location</option>
                @foreach (var l in Model.Location)
                {
                    <option value="@l.Location_ID">@l.LocaitonName</option>
                }
            </select>
            <input type="submit" value="Add Location" />
        </form>
    </div>
</div>


<div class="col-md-6 col-sm-12">
    <h4>FAQs for @Model.SelectedDepartment.DepartmentName:</h4>
    @foreach (var f in Model.FAQs)
    {

        <a href="/FAQ/Details/@f.Faq_ID">@f.Ques @f.Answer</a>

        <a style="color:#ab2020;" href="/Department/Unassociate/@Model.SelectedDepartment.Department_ID?FAQ_ID=@f.Faq_ID">[x]</a>
        <br />
    }

    <div>

        <form method="POST" action="/Department/Associate/@Model.SelectedDepartment.Department_ID">
            <select name="FAQ_ID">q
                <option value="">Select FA</option>
                @foreach (var f in Model.FAQs)
                {
                    <option value="@f.Faq_ID">@f.Ques @f.Answer</option>
                }

            </select>
            <input type="submit" value="Add FAQ" />
        </form>
    </div>

</div>






